# Immich environment variables
# https://docs.immich.app/install/environment-variables

# Upload storage location 
UPLOAD_LOCATION=

# Postgres data location (on the SSD)
DB_DATA_LOCATION=./postgres

# Timezone
TZ=Europe/Berlin

# Immich version
IMMICH_VERSION=release

# Database credentials
DB_PASSWORD=
DB_USERNAME=postgres
DB_DATABASE_NAME=immich

